.history-header {
  display: grid;
  grid-template-columns: auto 140px;
  grid-template-areas: 'page-header order-counter';
  height: 75px;
  margin-bottom: 18px;
}

.history-counter-container {
  user-select: none;
  text-align: end;
  margin-left: -20px;
  margin-right: 10px;
  margin-top: 5px;
  height: 70px;
  grid-area: order-counter;
  border-bottom: 1px solid @border-color;
}

.history-counter-value {
  font-size: 1em;
  color: @font-color;
  line-height: 30px;
}

.history-counter-incrementer {
  line-height: 5px;
  font-size: 1.5em;
  color: @font-color;
  cursor: pointer;
}

// .history-counter-incrementer:hover {

// }
