.hostCardWrapper {
  display: grid;

  grid-template-columns: 520px auto;
  grid-template-areas: 'hostnameCard message';
}

.hostnameEntryCard {
  grid-area: hostnameCard;
  display: grid;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid @border-color;
  min-height: 40px;
  max-width: 500px;
  grid-template-columns: auto 40px;
  grid-template-areas: 'name access';
  //text-decoration: none;
  color: @font-color;
}

.accessDeniedMessage {
  margin-top: 20px;
  grid-area: message;
}

.icon {
  margin-left: 10px;
  color: @font-color;
  font-size: 1.5em;
  padding-top: 10px;
}

.validation-error-color {
  background-color: @error-font;
}

.validation-ok-color {
  background-color: @success-color;
}

.access {
  grid-area: access;
  float: right;
}

.access > i {
  color: #eee;
}

.seraInfo {
  line-height: 1.5em;
  grid-area: name;
  margin-top: 10px;
}
